@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
  }

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
  }


html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #FFFFFF;
    color: #000000
  }  

/* Pages */
.navigation-logo {
    width: 139px;
    margin-right: 30px;
  }
.navigation-list{
    display: flex;
    width: 450px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    
}
.navigation-link{ 
display: block;
padding: 20px 17px;
font-size: 20px;
line-height: 26px;
font-weight: 700;
text-decoration: none;
color: inherit;


}

.navigation-user {
    max-width: 300px;
    margin-left: auto;
  }
  .navigation-user .navigation-link {
    min-width: 20px;
    min-height: 20px;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.navigation-item-buttom{
    display: block;
    padding: 9px 15px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;  
    background-color: #756257;
    width: 160px;
    border-radius: 4px;
    text-transform: uppercase;
    margin-top:13px;
}
.main-container {
    padding-top:0px;
    flex-grow: 1;
    
  }

.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
  }

.page-container {
   
    width: 1200px;
    margin: 0 auto;
  }
.decor-image {
    padding-top:50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    background-image: url("../images/index-background.jpg");
    color: #000000;
    background-color: #FFFFFF;
    background-size: 100% auto;
    width: 1200px;
    height: 435px;
    background-repeat: no-repeat;

}
.welcome-logo{
    display: block;
    margin: 0 auto;
}
.welcome-decoration{
    

}
.advantages-list{
    list-style-type: none;
    padding:0;
}

.advantages-detail{
    width: 1200px;
    list-style-type: none;
    display: flex;
    margin:0;
    padding: 0;
}

.main-index-title{
    
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
}

.advantages-title{
    color: #333333;
    font-size: 22px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
}

.advantages-box{
    margin: 0;
    display:flex;
    background: #83B3D3;
    width: 360px;
    padding:20px;
    min-height: 344px;
    flex-direction: column;
    justify-content: center;
    
    
}

.advantages-section{
    display:flex;
    width: 1200px;
    margin: 0;
}

.advantages-box-blue{
    display:flex;
    flex-direction: column;
    justify-content: center;
    color:#FFFFFF;
    background: #83B3D3;
    width: 360px;
    min-height: 344px;
    margin:0;
    padding:20px;

}

.advantages-block{
    display:flex;

}
.advantages-item-title{
    
    
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    
}

.advantages-description{

    font-weight: 400;
    text-align: center;
    
}
.advantages-logo{
    color:#81B3D2;
    display: block;
    margin: 0 auto;
}

.advantages-detail-title{
    
    text-align: center;
    
}

.advantages-detail-description{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    width: 250px;
    margin: 20px auto;
    text-align: center;
}

.proposal{
    width: 1200px;
    padding-top:91px;
    padding-bottom: 93px;
    
}

.proposal-title{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    width: 720px;
    margin: 0px auto 29px auto;
    text-align: center;
    
}

.proposal-information{
    color:#333333;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 56px;

}
.proposal-search{
    
    background: #756257;
    border-radius: 10px;
    text-align: center;
    display:block;
    margin: 0 auto;
    
}
.button-search{
    border-radius: 10px;
    display: block;
    width: 575px;
    color:#FFFFFF;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    background: #756257; 
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    padding:15px 0 15px 0;

    

}
.newsletter{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../images/background-newsletter.jpg");
    color: #FFFFFF;
    background-color: #000000;
    background-size: 100% auto;
    width: 1200px;
    height: 411px;
    margin: 0 auto;
}
.newsletter-form{
    display:flex;
    width: 800px;
    text-align: center;
    margin: 0 auto;
}

.newsletter-title{
    
    text-align: center;
}

.footer-contacts-phone{
    display: block;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
    color: inherit;
    text-decoration: none;
}

#light-blue{
    background: rgba(131, 179, 211, 0.12);
    ;

}

#white{
    background: #FFFFFF;
    
}

#middle-blue{
    background: rgba(131, 179, 211, 0.2);
    
} 
.page-footer-container{
    justify-content: space-between;
    display: flex;
    width: 1060px;
    margin: 40px auto;
}

.footer-social{
    
    max-width: 107px;
}
.footer-social-list{
    list-style-type: none;
}

.footer-contacts{
    max-width: 720px;
}

.catalog-header{
    background-image: url("../images/background-catalog1.jpg");
    color: #ffffff;
    background-color: #000000;
    background-size: 100% auto;
    Width: 1200px;
    Height: 408px;
    margin: 0 auto;

}

.inner-header-title{
    
    margin-left: 71px;
    font-size: 60px;
    line-height: 77px;
    font-weight: 700;
    text-align: center;
}

.breadcrumbs{
    list-style-type: none;
    display: flex;
}
.breadcrumbs-link{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: inherit
}

.catalog-filter{
    display:flex;
}

.catalog-filter-group{
    margin-left: 71px;
}
.catalog-filter-title {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
   
}

.catalog-filter-list{
    list-style-type: none;
    margin-left: 0;
    padding: 0;
} 

.catalog-filter-item{
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    
}

.button-apply{
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    font-weight: 700;
    background-color: #83B3D3; 
    border-radius: 4px;
}

.sorting{
    width: 1057px;
    margin: 0 auto;
    text-align: center;
    display: flex;
}
.products{
    width: 1057px;
    margin-left: 110px;
    
}
.button-reset{
font-size: 18px;
line-height: 23px;
text-align: center;
font-weight: 400;
}

.catalog-filter-result{
color:#000000;
font-weight: 700;
font-size: 30px;
line-height: 39px
}

.select-control{
    font-size: 18px;
    line-height: 23,29px;
    font-weight: 400;
    color: #333333;
}


.list-presentation{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: inherit 
}

.product-card-title{
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
    
}

.product-card-type .product-card-price{
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}

.product-card-button{
    font-size: 16px;
    line-height: 21px;
    font-weight: 700; 
    color:#FFFFFF;
    background: #756257;
    text-decoration: none;
    border-radius: 4px;
}

.product-favorite{
    font-size: 16px;
    line-height: 21px;
    font-weight: 700; 
    color:#FFFFFF;
    background: #83B3D3;
    text-decoration: none;   
    border-radius: 4px;
}

.product-card-star{
    color: #83B3D3;
    width: 18px;
    height: 17px;
}

.product-list{
    list-style-type: none;
}

.product-card-rating{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400; 
    color:#333333;
    background: #F2F2F2;
    text-decoration: none;   
    border-radius: 4px;
}

.pagination-show-more{
    
    background: #83B3D3;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700; 
    border-radius: 4px;
    text-decoration: none;
    width: 1056px;
}

.pagination{
    list-style-type: none;
    display: flex;
}

.pagination-link-current{
    background: #F2F2F2;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700; 
    border-radius: 4px;
    text-decoration: none; 
}

.pagination-link{
    background: #83B3D3;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700; 
    border-radius: 4px;
    text-decoration: none; 
}

.product-count{
    color: #333333;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400; 
}


.newsletter-inner{
    margin: 0 auto;
    width: 800px ;
    text-align: center;
}
.newsletter-inner-title{
    color: #000000;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700; 

}

.newsletter-inner-subtitle{
    color: #333333;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400; 
}

.newsletter-button{
   
    background: #83B3D3;
    width: 200px;
    padding: 18px 34px 16px 34px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700; 
    border-radius: 0px 10px 10px 0px;
    text-decoration: none; 
}

.newsletter-field{
    background: #F2F2F2;
    border-radius: 0px 10px 10px 0px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.newsletter-subtitle{
    display: block;
    width: 720px;
    margin: 0 auto;
    
    
}

.field{
    width: 600px;
    height: 60px;
    margin-right: 0;
    border-radius: 0px 10px 10px 0px;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.product-wrapper{
    display:flex
}